<%- include('../layouts/adminheader.ejs') %>

<body>
   <!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>STEP IN STYLE</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <!-- <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;"> -->
                <!-- <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div> -->
            </div>
            <div class="ms-3">
                <!-- <h6 class="mb-0">Jhon Doe</h6> -->
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/admin/Dashboard" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/admin/userlist" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Users</a>
            <a href="/admin/productList" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Products</a>
            <a href="/admin/categorylist" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Categories</a>
            <a href="/admin/coupons" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Coupons</a>
            <a href="/admin/orders" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Orders</a>
            <a href="/admin/bannerlist" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Banners</a>
            <!-- <a href="/admin/logout" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Logout</a> -->
            <form action="/admin/logout" method="get">
                <button type="submit" class="btn btn-danger" style="margin-left: 30px;">Logout</button>
              </form>
              
        </div>
    </nav>
</div>
<!-- Sidebar End -->



<div class="row" style="margin-top: -89px; margin-left: 18em;">
    <style>
      .hover-card:hover {
          background-color: #f0f0f0; /* Change the background color on hover */
          transition: background-color 0.3s ease; /* Add a smooth transition effect */
      }
  </style>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4" style="padding-top: 100px; margin-top: 100px;">
      <div class="card border-left-primary shadow py-2 hover-card" style="width: 228px;height: 97px;">
        <!-- Adjust width and height -->
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1 text-center  d-flex justify-content-center align-items-cente">
                TOTAL ORDERS</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800 text-center  d-flex justify-content-center align-items-cente">
                <%= totalOrders %>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4" style="padding-top: 100px; margin-top: 100px;">
      <div class="card border-left-primary shadow py-2 hover-card" style="width: 228px;height: 97px;">
        <!-- Adjust width and height -->
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1 text-center  d-flex justify-content-center align-items-cente">
                TOTAL PRODUCTS</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800 text-center  d-flex justify-content-center align-items-cente">
                <%= totalProducts %>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4" style="padding-top: 100px; margin-top: 100px;">
      <div class="card border-left-primary shadow py-2 hover-card" style="width: 228px;height: 97px;">
        <!-- Adjust width and height -->
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1 text-center  d-flex justify-content-center align-items-cente">
                TOTAL SALES</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800 text-center  d-flex justify-content-center align-items-cente">₹<%=totalSales%>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4" style="padding-top: 100px; margin-top: 100px;">
      <div class="card border-left-primary shadow py-2 hover-card" style="width: 228px;height: 97px;">
        <!-- Adjust width and height -->
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <a href="/admin/adminsales" style="text-decoration: none;"><div  class="text-xs font-weight-bold text-danger text-uppercase text-center mt-2 d-flex justify-content-center align-items-center">SALES REPORTS</div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 
    <div class="chart" style="width: 1000px; margin-left: 20em;">
      <canvas id="myChart"  ></canvas>
      <input type="hidden" name="monthlySales" id="monthlySales" value="<%= JSON.stringify(monthSales) %>">
    </div>
 <div class="pie-charts" style="display: flex; justify-content: space-around;">

 
    <div class="text-center" style="width: 30%; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); height: 350px; margin-left: 15em; margin-top: 50px;">
      <div class=" bg-light rounded p-3 w-100 " >
      
          <canvas id="myCharts" style="margin-top:10px;"></canvas>
          <div id="userCounts" data-blocked-count="<%= blockedUsers %>"
            data-non-blocked-count="<%= unblockedUsers %>"></div>
            
          </div>
    </div>

    <div class="text-center" style="width: 30%; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); height: 350px;  margin-top: 50px;">
      <div class=" bg-light rounded p-3 w-100 " >
      
        <canvas id="mySecondPieChart" style="margin-top: 10px;"></canvas>
        <input type="hidden" name="paymentMethodData" id="paymentMethodData" value="<%= JSON.stringify(paymentMethodCounts) %>">
            
          </div>
    </div>

  </div>

    



    
    
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



    <script>



const secondPieChartCtx = document.getElementById('mySecondPieChart');
const paymentMethodDataInput = document.getElementById('paymentMethodData');
  const paymentMethodData = JSON.parse(paymentMethodDataInput.value);
// Extract labels and data values
const labels = paymentMethodData.map(item => item._id);
const dataValues = paymentMethodData.map(item => item.count);

// Define the data for the second pie chart
const secondPieChartData = {
  labels: labels,
  datasets: [
    {
      data: dataValues,
      backgroundColor: ['red', 'yellow', 'blue'], // Customize the colors
    },
  ],
};

new Chart(secondPieChartCtx, {
  type: 'pie',
  data: secondPieChartData,
  options: {
    responsive: true,
    maintainAspectRatio: false,
  },
});



      const ctxi = document.getElementById('myCharts');
      const userCountsElement = document.getElementById('userCounts');
        const blockedUserCount = parseInt(userCountsElement.getAttribute('data-blocked-count'));
        const nonBlockedUserCount = parseInt(userCountsElement.getAttribute('data-non-blocked-count'));
      const totalUserCount = blockedUserCount + nonBlockedUserCount;
      new Chart(ctxi, {
        type: 'pie',
        data: {
          labels: ['Blocked Users', 'Non-Blocked Users', "All Users"],
          datasets: [{
            data: [blockedUserCount, nonBlockedUserCount, totalUserCount],
            backgroundColor: ['#f00', '#1fe074', "#0069c0"],
            borderWidth: 0
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
        }
      });
      
      // bar graph ///////////////////////////////////////////////////////
      
      const ctx = document.getElementById('myChart');
      let monthlySales = document.getElementById('monthlySales').value;
      let monthlySalesArray = JSON.parse(monthlySales);
      let monthlySalesAmount = []
      for (let i = 0; i <= 12; i++) {
              for (let j = 0; j < monthlySalesArray.length; j++) {
                if ((monthlySalesArray[j].month - 1) == i) {
                  monthlySalesAmount[i] = monthlySalesArray[j].monthlySales
                  break
                }
              }
              if (!monthlySalesAmount[i]) {
                monthlySalesAmount[i] = 0
              }
            }


      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
          datasets: [{
            label: `Sales of Month on ${monthlySalesArray[0].year}`,
            data: monthlySalesAmount,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });




 





   
    </script>
     
    <%- include('../layouts/adminfooter') %>