


<%- include('../layouts/adminheader') %>

<body>

    <div class="container-fluid">
        <div class="row" style="justify-content: space-evenly;">
   <!-- Sidebar Start -->
   <div class="col-lg-3 sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-1  mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>STEP IN STYLE</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <!-- <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;"> -->
                <!-- <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div> -->
            </div>
            <div class="ms-3">
                <!-- <h6 class="mb-0">Jhon Doe</h6> -->
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/admin/Dashboard" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/admin/userlist" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Users</a>
            <a href="/admin/productList" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Products</a>
            <a href="/admin/categorylist" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Categories</a>
            <a href="/admin/coupons" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Coupons</a>
            <a href="/admin/orders" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Orders</a>
            <a href="/admin/bannerlist" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Banners</a>
            <!-- <a href="#" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Logout</a> -->
        </div>
    </nav>
</div>
<!-- Sidebar End -->
<div class="col-lg-9 p-4">

  
<div class="container-xxl position-relative bg-white d-flex p-4">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <div class="container-fluid" style="margin-left: 12em;">
        <div class="mt-4 p-4 border rounded mx-auto" style="margin-left: 10em;">
            <h1 class="mb-4">Edit Product</h1>
            <!-- Form for editing a product -->
            <form action="/admin/productlist/<%= product._id %>" method="POST" enctype="multipart/form-data" id="productForm">
                <!-- Product Photo (Optionally allow users to change the photo) --> 
                <div class="form-group">
                    <label for="productPhoto" class="form-label">Product Photos</label>
                    <input type="file" class="form-control" id="productPhoto" name="photo" accept=".jpg, .jpeg, .png, .webp" multiple>
                    <div id="imageError" style="color: red;"></div>
                   <!-- product images -->

                   <% if (product.photo && product.photo.length > 0) { %>
                    <div id="image-previews" class="mt-2" style="display: flex; flex-wrap: wrap; gap: 10px;">
                        <% for (let i = 0; i < product.photo.length; i++) { %>
                            <div class="image-preview">
                                <img src="/images/<%= product.photo[i] %>" alt="Product Photo" width="100">
                                <input type="hidden" id="imgurl" name="imgurl" value="<%= product.photo[i] %>">
                                <button type="button" class="delete-image" onclick="event.preventDefault(); removeImg('<%= product._id %>','<%= product.photo[i] %>')" data-index="<%= i %>">Delete</button>
                            </div>
                        <% } %>
                    </div>
                <% } %>


                </div>
                
                <!-- Product Name (Pre-fill with current product name) -->
                <div class="form-group">
                    <label for="productName" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="productName" placeholder="Enter product name" required name="productName" value="<%= product.productName %>">
                    <p id="productNameError" class="error-message" style="color: red;"></p>
                </div>
                <!-- Product Price (Pre-fill with current product price) -->
                <div class="form-group">
                    <label for="productPrice" class="form-label">Product Price</label>
                    <input type="number" class="form-control" id="productPrice" placeholder="Enter product price" required name="price" value="<%= product.price %>">
                    <p id="productPriceError" class="error-message" style="color: red;"></p>
                </div>


                <div class="form-group">
                    <label for="productCategory" class="form-label">Product Category</label>
                    <select class="form-select" id="productCategory" required name="category">
                      <option value="<%= categories%>">Select a category</option>
                      <%  categories.forEach(cat =>{%>
                        <option value="<%= cat %>" <% if (cat === product.category) { %>selected<% } %>><%= cat %></option>
                      <% }) %>
                      
                    </select>
                  </div>

                   <!-- gender -->
            <div class="form-group">
                <label for="productgender" class="form-label"> Gender</label>
                <select class="form-select" id="gender" required name="gender">
                  <option value="<%= genders %>">Select a gender</option>
                  <%  genders.forEach(gender =>{%>
                    <option value="<%= gender %>" <% if (gender === product.gender) { %>selected<% } %>><%= gender %></option>  
                  <% }) %>
                 
                </select>
              </div>

              <div class="form-group">
                <label for="productQuantity" class="form-label">Product Stock</label>
                <input type="number" class="form-control" value="<%= product.stock %>" id="productQuantity" placeholder="Enter product stock" required name="stock">
                <p id="productQuantityError" class="error-message" style="color: red;"></p>
            </div>
                   <!-- Offer -->
            <div class="form-group">
                <label for="productOffer" class="form-label">Offer</label>
                <input type="number" class="form-control" id="productOffer" placeholder="Enter product offer" name="offer" value="<%= product.offer %>">
                <p id="productOfferError" class="error-message" style="color: red;"></p>
            </div>
            <div class="form-group">
                <label for="productOffer" class="form-label">Product Orginal Price</label>
                <input type="number" class="form-control" id="orginalPrice" placeholder="Enter product offer" name="orginalPrice" value="<%= product.orginalPrice %>">
            </div>
            <!-- Expiry Date -->
           
           <div class="form-group">
               <label for="productExpiryDate" class="form-label">Expiry Date</label>
               <input type="date" class="form-control" id="productExpiryDate" name="expiryDate" value="<%= product.expiryDate ? product.expiryDate.toISOString().split('T')[0] : '' %>">
           </div>

                <!-- Product Description (Pre-fill with current product description) -->
                <div class="form-group">
                    <label for="productDescription" class="form-label">Product Description</label>
                    <textarea class="form-control" id="productDescription" rows="4" placeholder="Enter product description" required name="description"><%= product.description %></textarea>
                </div>
                <button type="submit" class="btn btn-success mt-4" name="submit">Update Product</button>
            </form>

            
        </div>
    </div>
    
    <script>
     const productForm = document.getElementById('productForm');
     const productPhoto = document.getElementById('productPhoto');
    //  const imageError = document.getElementById('imageError');
     const productName = document.getElementById('productName');
     const productPrice = document.getElementById('productPrice');
     const productQuantity = document.getElementById('productQuantity'); // Updated field id
     const productOffer = document.getElementById('productOffer');

    productForm.addEventListener('submit', function (e) {
    // Reset any existing error messages
    // imageError.textContent = '';
    productNameError.textContent = '';
    productPriceError.textContent = '';
    productQuantityError.textContent = ''; // Updated field id
    productOfferError.textContent = '';

    // const selectedFile = productPhoto.files[0];
    // const allowedExtensions = /\.(jpg|jpeg|png|webp)$/i;

    // if (!allowedExtensions.test(selectedFile.name)) {
    //     e.preventDefault(); // Prevent form submission
    //     imageError.textContent = 'Please select a JPG, JPEG, PNG image, or WEBP image';
    // }

    if (!productName.value.trim()) {
        e.preventDefault();
        productNameError.textContent = "Product name field can't be empty";
    }

    if (parseFloat(productPrice.value) < 0) {
        e.preventDefault();
        productPriceError.textContent = "Price can't be negative";
    }

    if (parseInt(productQuantity.value) < 0) { // Updated field id
        e.preventDefault();
        productQuantityError.textContent = "Stock can't be negative"; // Updated field id
    }

    if (parseInt(productOffer.value) < 0) {
        e.preventDefault();
        productOfferError.textContent = "Offer can't be negative";
    }
});

    </script>


<script>


    // Add an event listener to the "Offer" input field
    const productOfferInput = document.getElementById("productOffer");
    const productExpiryDateInput = document.getElementById("productExpiryDate");
    
    productOfferInput.addEventListener("input", function () {
        if (this.value.trim() !== "" && 0) {
            // If there is an offer, set "Expiry Date" as required
            productExpiryDateInput.setAttribute("required", "");
        } else {
            // If there is no offer, remove the "required" attribute
            productExpiryDateInput.removeAttribute("required");
        }
    });
    
 </script>

 <script>
    function removeImg(id, url) {
    fetch(`/admin/removeImage/${id}`, {
    method: 'PATCH',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ url })
  })
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    window.location.reload();
  })
  .catch(error => {
    console.error('Error:', error);
  });
}

 </script>
    






<%- include('../layouts/adminfooter') %>



