
productspage = async (req, res) => {
    try {
        const page = parseInt(req.query.page) || 1;
        const limit = 6;
        const skip = (page - 1) * limit;
        const categoryId = req.query.categoryId; // Retrieve categoryId from query parameters
        const { priceFrom, priceTo } = req.query; // Retrieve priceFrom and priceTo from query parameters
        const gender = req.query.gender || ['men', 'women']; // Use an array to select both men and women
        const searchQuery=req.query.searchQuery || '';
  
        const categories = await Category.find({ isActive: true });
        const categoryIds = categories.map((category) => category._id);
  
        let productsQuery = {isActive: true,gender:gender,category: categoryId ? categoryId : { $in: categoryIds }};
  
        // Add price range filter if priceFrom and priceTo are provided
        if (priceFrom && priceTo) {
            productsQuery.price = { $gte: priceFrom, $lte: priceTo };
        }
  
        if (searchQuery) {
          // Use a regular expression to perform a case-insensitive search on productName and description
          productsQuery.$or = [
            { productName: { $regex: searchQuery, $options: 'i' } },
            { brand: { $regex: searchQuery, $options: 'i' } },
          ];
        }
        
        const products = await Product.find(productsQuery)
            .populate('category')
            .skip(skip)
            .limit(limit)
            .exec();
        const totalCount = await Product.countDocuments(productsQuery);
        const totalPages = Math.ceil(totalCount / limit);
  
        res.render("./user/shop", {products,categories,currentPage: page,totalPages,priceFrom,priceTo,gender,searchQuery});
     } catch (error) {
        console.error(error);
        res.status(500).send("Internal server error.");
    }
  };



  <div class="row">
    <% products.forEach(product => { %>
    <% if (product.isActive) { %>
    <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
        <div class="product d-flex flex-column">
            <a href="/userproduct/<%= product._id %>" class="img-prod"><img class="img-fluid" src="uploads/<%= product.image %>" alt="Colorlib Template">
                <div class="overlay"></div>
            </a>
            <div class="text py-3 pb-4 px-3" style="margin-top: 56px;">
                <div class="d-flex">
                    <div class="cat" style="font-weight: bolder;">
                        <span><%= product.category.categoryName %></span>
                    </div>
                    <div class="rating">
                        <p class="text-right mb-0">
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                        </p>
                    </div>
                </div>
                <h3><a href="#"><%= product.productName %></a></h3>
                <div class="cat">
                    <span style="color: black;"><%= product.gender %></span>
                </div>
                <div class="pricing">
                    <p class="price"><span>₹<%= product.price %></span></p>
                </div>
                <p class="bottom-area d-flex px-3">
                    <a href="/products" class="add-to-cart text-center py-2 mr-1" onclick="addToCart('<%= product._id %>')">
                        <span>Add to cart <i class="ion-ios-add ml-1"></i></span>
                    </a>
                    <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                </p>
            </div>
        </div>
    </div>
    <% } %>
    <% }); %>
</div>




<div class="row mt-5">
    <div class="col text-center">
      <div class="block-27">
        <ul>
          <% if (currentPage > 1) { %>
            <li><a href="/products?page=<%= currentPage - 1 %>&gender=<%= gender %>&priceFrom=<%= priceFrom %>&priceTo=<%= priceTo %>">&lt;</a></li>
          <% } %>
          <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="<%= i === currentPage ? 'active' : '' %>">
              <a href="/products?page=<%= i %>&gender=<%= gender %>&priceFrom=<%= priceFrom %>&priceTo=<%= priceTo %>"><span><%= i %></span></a>
            </li>
          <% } %>
          <% if (currentPage < totalPages) { %>
            <li><a href="/products?page=<%= currentPage + 1 %>&gender=<%= gender %>&priceFrom=<%= priceFrom %>&priceTo=<%= priceTo %>">&gt;</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  
</div>

<div class="col-md-4 col-lg-2">
<div class="sidebar">
        <div class="sidebar-box-2">
            <h2 class="heading">Categories</h2>
            <div class="fancy-collapse-panel">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Shoes Categories
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <% categories.forEach(category => { %>
                                    <% if (category.isActive) { %>
                                        <ul>
                                            <li><a href="/products?categoryId=<%= category._id %>&gender=<%= gender %>"><%= category.categoryName %></a></li>
                                        </ul>
                                    <% } %>
                                <% }); %>
                            </div>												
                        </div>
                    </div>
                 </div>
            </div>
        </div>